* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* nav-bar */
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  padding: 1.1em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(213, 212, 212);
}
.nav-bar h2 a {
  text-decoration: none;
  color: black;
}
.nav-bar .nav-btn-container {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.nav-bar .nav-btn-container .nav-btn {
  font-size: 1rem;
  padding: 0.55em 1em;
  border-radius: 18px;
  font-weight: 500;
  transition: all 0.25s;
}

.nav-btn-container .login-btn {
  background-color: rgb(236, 235, 235);
  text-decoration: none;
  color: black;
}
.nav-btn-container .signup-btn {
  background-color: rgb(244, 11, 58);
  text-decoration: none;
  color: white;
}
.nav-bar .nav-btn-container .login-btn:hover {
  background-color: rgb(219, 218, 218);
}
.nav-bar .nav-btn-container .signup-btn:hover {
  background-color: rgb(216, 8, 49);
}
.nav-bar form {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.15em;
}
.nav-bar .search-icon {
  height: 26px;
  color: rgba(0, 0, 0, 0.681);
}
.nav-bar form .search-btn {
  border: none;
  border-radius: 6px;
  padding: 5px;
  background-color: transparent;
  background-color: rgb(236, 235, 235);
  cursor: pointer;
}
.nav-bar .search-bar-nav {
  font-size: 0.83rem;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0.9em;
  background-color: rgb(236, 235, 235);
  transition: all 0.3s;
}
.nav-bar .search-bar-nav:focus {
  box-shadow: 0 0 2px rgb(44, 43, 43);
}
/* landing  */

.landing {
  max-width: 980px;
  padding: 3em 0;
  margin: 0 auto;
  display: flex;
}
.landing h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
.landing .img-landing {
  max-width: 100%;
  height: 100%;
}
.landing .hero-div {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.landing .hero-btn {
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  padding: 1em 0;
  width: 60%;
  background-color: rgb(18, 18, 18);
  color: white;
  border-radius: 26px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.landing .hero-btn:hover {
  background-color: rgb(5, 5, 5);
}

/* footer  */
footer {
  border-top: 1px solid rgb(213, 212, 212);
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
/* signup css*/
.userForm-container {
  padding: 2.5em 0;
  min-height: 75vh;
}
.userForm-container > h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.userForm-container .form-signup {
  box-shadow: 0 0 5px #d5d5d5;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 480px;
  margin: 0 auto;
  padding: 1.1em 1em;
  border-radius: 10px;
}
.userForm-container .form-signup > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.userForm-container .form-signup label {
  font-weight: bold;
}
.userForm-container .form-signup input {
  padding: 0.8em;
  border: none;
  outline: none;
  box-shadow: 0 0 2px #929292;
  border-radius: 6px;
  transition: box-shadow 0.3s;
}
.userForm-container .form-signup input:focus {
  box-shadow: 0 0 4px #202020;
}
.userForm-container .form-signup button[type="submit"] {
  padding: 0.8em 0;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  background-color: #202020;
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.userForm-container .form-signup button[type="submit"]:hover {
  background-color: #0c0c0c;
}
/* home-section-after-login */
.home-section {
  display: flex;
  min-height: 80vh;
  padding: 1.6em 4em;
}
.ul-filter {
  display: flex;
  gap: 3em;
  list-style: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #e9e8e8;
}
.ul-filter li a {
  text-decoration: none;
  color: #6b6b6b;
}
.ul-filter li a:hover {
  color: black;
}
.home-section .left-section {
  flex: 1 1 65%;
}
.home-section .right-section {
  flex: 0 1 35%;
}
/* blog card  */

.blog-description{
  display: flex;
}